.post {
  background: var(--blue-800);
  border-radius: 8px;
  padding: 2.5rem;
}
.post + .post { /*o sinal de + aqui indica que ele quer estilizar todo post que antes dele tem um post*/
  margin-top: 2rem;
}
.content {
  line-height: 1.6;
  color: var(--gray-300);
  margin-top: 1.5rem;
}
.content a {
  font-weight: 500;
  color: var(--pink-700);
  text-decoration: none;
}
.content a:hover {
  color: var(--pink-600);
}
.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post > header time{
  font-size: 0.875rem;
  color: var(--gray-400);
}
.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.authorInfo strong {
  display: block;
  color: var(--gray-100);
  line-height: 1.6;
}
.authorInfo span {
  display: block;
  font-size: 0.75rem;
  color: var(--gray-400);
  line-height: 1.6;
}

.comentForm {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--gray-500);
}

.comentForm > strong {
  line-height: 1.6;
  color: var(--gray-100);
}

.comentForm textarea {
  width: 100%;
  background-color: var(--blue-1000);
  border: 0;
  resize: none; /* essa props define se um elemnte é redimensionável ou não*/
  height: 6rem;
  padding: 1rem;
  border-radius: 8px;
  color: var(--gray-100);
  line-height: 1.4; /*essa props define a altura da linha e seta a altura da line no box, é muito usada para set das linhas em um box de text*/
  margin-top: 1rem;
}

.comentForm footer {
  visibility: hidden; /* para impedir esse bug criamos uma tag footer por trás do button e colocamos essas porps*/
  max-height: 0; 
}
.comentForm:focus-within footer { /*essa props é uma pseudo classe do css, ou seja, para funcionar o elemento deve ser filho de um focus  colocamos o footer para dizer onde queremos inserir essa estilização*/
  visibility: visible; /* ou seja quando houver elementos no textArea o button irá aparecer*/
  max-height: none;
}

.comentForm button[type=submit] {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 0;
  background-color: var(--pink-700);
  color: var(--white);
  font-weight: 400;
  cursor: pointer; /*define como o cursor do mouse deve aparecer quando passar por cima do button*/
  transition: background-color 0.1s;

  /*visibility: hidden;essa propriedade mostra ou oculta um elemento sem alterar o seu layout
  max-height: 0; nesse caso gera um bug pois quando salvamos  o botão ainda ocupa o espaço na pagina, poderiamos por um display none contudo não é muito bom para acessebilidade, deve se cuidar quando usar ele*/

}

.comentForm button[type=submit]:hover {
  background-color: var(--pink-600);
}
.commentList {
  margin-top: 2rem;
}